body {
    background: bisque;
}

.header {
    display: flex;
    justify-content: flex-end;
    background-color:navajowhite;
    padding: 10px 20px;
    color:brown;
}

nav{
    background-color: burlywood;
}

h2 {
    background-color:burlywood;
    border-radius: 10px;
}

.navbar-brand {
    font-size: 30px;
    margin-bottom: 0;
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}